* {
  font-family: "Rubik", sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

.button {
  display: block;

  font-weight: 700;
  font-size: 17px;
  line-height: 55px;
  text-align: center;

  color: $white;
  width: 225px;
  text-decoration: none;

  background-color: $background-button;
  border-radius: 50px;
}

.title {
  font-weight: 500;
  font-size: 27px;
  line-height: 32px;
  color: $color_title;
  text-align: center;
  margin: 0;
  padding: 0;
}
